article{
    animation: animation 1s ease-in-out forwards;
    
}

.movement{
    animation: movement 2s ease-in-out forwards;
    overflow: hidden;
}

.movement-right{
    animation: right 2s ease-in-out forwards;
    overflow: hidden;
}

.bottom{
    animation: bottom 1.5s ease-in-out forwards;
}

@keyframes bottom {
    0%{
        opacity: 1;
        margin-top: 0px;
    }
    100%{
        opacity: 0;
        margin-top: 850px;
    }
}

@keyframes animation{
    0%{
        opacity: 0;
        margin-left: 850px;
    }

    60%{
        margin-left: 0px;
    }

    100%{
        opacity: 1;
    }
}

@keyframes movement {
    0%{
        opacity: 0;
        transform: translateX(1000px);
    }
    60%{
        transform: translateX(0px);
    }

    100%{
        opacity: 1;
    }
}

@keyframes right {
    0%{
        opacity: 0;
        transform: translateX(-1000px);
    }
    60%{
        transform: translateX(0px);
    }

    100%{
        opacity: 1;
    }
}